/* font
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
*/
.md-bg-white {
}
ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li {
}
.border-mute {
	border: none !important;
}
.btn-outline {
	border-color: #01b7e8;
	color: #01b7e8;
}
.btn-tabber {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #01b7e8;
	color: #ffffff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 13px 20px;
}
.btn-tabber:hover {
	background-color: #03aad7;
	color: #ffffff;
}
.md-section {
	margin: 20px 0px;
}
.md-col-contain {
	margin-top: 20px;
	padding: 10px 30px;
}

/*-----listings-----*/
#md-listing-results {
}
#md-listing-results header {
}
#md-listing-results .md-listing {
	font-size: 14px;
	border: 1px solid #ddd;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 10px 0px;
}
#md-listing-results .md-listing header {
}
#md-listing-results .md-listing a {
}
#md-listing-results .md-listing a:hover {
	text-decoration: none;
}
#md-listing-results .md-label {
	position: absolute;
	text-transform: uppercase;
	opacity: .7;
	z-index: 1;
}
#md-listing-results .md-label span {
	/*background-color: #01b7e8;
	color: #fff;*/
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	display: block;
	padding: 5px 10px;
	-moz-border-radius: 2px;
	border-radius: 3px;
	margin-top: 10px;
	margin-left: 10px;
}
.mwp-similar-homes #md-listing-results .md-listing-img {
	height:150px;
}
#md-listing-results .md-listing-img {
	overflow: hidden;
	height: 300px;
}
#md-listing-results .md-listing-img img {
}
#md-listing-results .md-listing-img img.no-primary-img {
    /*height: 100%;*/
    max-width: 100%;
    /*margin: 0px auto;*/
}
#md-listing-results .md-listing-info {
}
#md-listing-results .md-listing-info p {
	padding: 0px 20px;
	line-height: 24px;
}
#md-listing-results .md-listing-info header {
	display: table;
	width: 100%;
}
#md-listing-results .md-listing-info header h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 0px 20px;
	margin: 20px 0px;
	display: block;
	overflow: hidden;
	height: 31px;
}
#md-listing-results .md-listing-info header h5 a {
	border-bottom: none;
}
#md-listing-results .md-listing-info header h5 a:hover {

}
#md-listing-results .md-listing-info .md-location {
	color: #989898;
	font-size: 12px;
	height: 25px;
	overflow: hidden;
}
#md-listing-results .md-listing-info .md-price {
	font-size: 18px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
#md-listing-results .md-listing-info .md-price span {
	display: block;
}
#md-listing-results .md-listing-info .md-desc {
	height: 68px;
	overflow: hidden;
}
#md-listing-results .md-ameni {
	padding: 10px 20px;
}
#md-listing-results .md-ameni ul {
	list-style-type:none;
}
#md-listing-results .md-ameni ul li {
	clear: both;
	border-top: 1px solid #ddd;
	line-height: 35px;
}
#md-listing-results .md-listing-footer {
	padding: 10px;
	border-top: 1px solid #ddd;
	background-color: #f4f4f4;
}
#md-listing-results .md-listing-footer span {
	padding-right: 5px;
}

/*----- Masterdigm Property Page -----*/
#md-property {
	font-family: 'Lato', sans-serif;
	background-color: #ffffff;
}
#md-property header {
	font-family: 'Montserrat', sans-serif;
}
#md-property .nav-tabs {
	border: none;
}
#md-property .nav-tabs li a {
	background-color: #01b7e7;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	outline: none;
	border: none;
	border-radius: 3px;
}
#md-property .nav-tabs li a:hover {
	background-color: #0198c0;
}
#md-property .nav-tabs li.active a {
	background-color: #016d8a;
}
.ui-autocomplete {
    z-index: 9999;
}
/*----- media styles -----*/
@media screen and (max-width:768px){
.md-listing-img img {
}
}
